.disconnect-alert-container {
    display: flex;
    position: absolute;

    color: #E53737;
    background-color: #FFF1F2;
    border-radius: 8px;

    transform: translate(0px, -88px);

    padding: 16px 24px;

    h1 {
        display: flex;
        align-items: center;

        font-size: 14px;
        margin: 0;

        i {
            font-size: 20px;
        }
    }

    button {
        color: #2B3674;
        background-color: transparent;

        text-decoration: underline;
        border: 0;
    }
}